@font-face
{
	font-family: Rockwell;
	src: url("rockwell.ttf");
}

body
{
	background-color:#FF8888;
	font-size:40px;
	font-family:Rockwell;
	color:red;
	background-attachment:fixed;
	background-image:url("sfondo.png");
	background-repeat:no-repeat;
	background-position:center center;
	background-size:cover;
}
div
{
	padding:20px;
	position:relative;
	margin-left:-8px;
	margin-right:-8px;
	text-align:center;
}
#parte_iniziale
{
	font-size:100px;
	color:white;
}
#vedi_su_github
{
	background-color:white;
	height:100px;
	padding:0px;
	position:sticky;
	top:0px;
	z-index:9;
}
input#vedi_su_github
{
	border:0px solid transparent;
	width:100%;
	height:100%;
	font:inherit;
	color:white;
	cursor:pointer;
	transition:0.5s;
	background-color:red;
}
input#vedi_su_github:hover
{
	background-color:darkred;
}
#loghi, #librerie
{
	background-color:white;
}
#descrizione, #ringraziamenti
{
	font-size:30px;
	color:white;
}
#ringraziamenti
{
	font-size:25px;
}
table
{
	font:inherit;
	width:100%;
}
table#librerie tr td
{
	width:25%;
	height:100px;
	text-align:center;
	vertical-align:middle;
}
table#loghi tr td
{
	width:25%;
	height:100px;
	text-align:center;
	vertical-align:middle;
}
a
{
	color:inherit;
}